<!DOCTYPE html>

<html>

<head>

  <title>Mickipebia</title>

	<meta content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css" />
	<link rel="icon" type="image/png" href="/static/img/favicon.ico" />

</head>

<body>

<nav class="header">
	<a href="/" class="site-title">Mickipebia</a>
	<ul class="user-options">
		<li class="edit-and-history">
		{% if edit %}
			{{ edit | safe }}|
		{% endif %}
		{% if history %}
			{{ history | safe }}
		{% endif %}
		</li>
		<li class="login-and-logout">
			{{ auth | safe }}
		</li>
	</ul>
</nav>

	<div id="main">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>
 
