<!DOCTYPE html>

<html>

<head>

  <title>Mickipebia</title>

	<meta content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css" />
	<link rel="icon" type="image/png" href="/static/img/favicon.ico" />

</head>

<body>

<nav class="header">
	<a href="/" class="site-title">Mickipebia</a>
	<ul class="user-options">
		<li class="login-and-logout">
			{% if user %}
				logged in as:
				{{ user }}(<a href="/a/logout">logout</a>)
      {% else %}
				<a href="/a/login">login</a>
				|
				<a href="/a/signup">signup</a>
			{% endif %}
		</li>
	</ul>
</nav>

	<div id="main">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>
 
