<!DOCTYPE html>

<html>

<head>

  <title>Mickipebia</title>

	<meta content="text/html" charset="utf-8">
	<link rel="icon" type="image/png" href="/static/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css" />

</head>

<body>

<nav class="header">
	<a href={{ paths.get('index') }} class="site-title">Mickipebia</a>
	<ul class="user-options">
		<li class="login-and-logout">
			{% if user %}
				logged in as:
				{{ user }}(<a href={{ paths.get('logout') }}>logout</a>)
      {% else %}
				<a href={{ paths.get('login') }}>login</a>
				|
				<a href={{ paths.get('signup') }}>signup</a>
			{% endif %}
		</li>
	</ul>
</nav>

<div class="sidebar">
	<form name="entry" action="/w/entry">
		<label>
			New Topic:
		</label>
		<input type="text">
		<input type="submit" value="enter">
	</form>
</div>

<div id="main">
	{% block content %}
	{% endblock %}
</div>

</body>

</html>
