{% extends "wikibase.html" %}

{% block body %}

	<div class="wiki-title" id="title">
		{{ title }}
	</div>

	<table id="history-table">
		<tr>
			<td class="column-two">
				Created
			</td>
			<td>
				Version	
			</td>
			<td>
				Content	
			</td>
			<td></td> 
			<td></td> 
		</tr>
	{% for h in page_history %}
		<tr>
			<td class="column-two">
				{{ h.created.strftime('%Y-%M-%d %H:%M:%S') }}
			</td>
			<td>
				{{h.version}}
			</td>
			<td>
				{{h.content}}
			</td>
			<td>
				<a href="/w/{{h.title}}/?v={{h.version}}">view</a>
			</td> 
			<td>
				<a href="/w/_edit/{{h.title}}?v={{h.version}}">edit</a>
			</td> 
		</tr>
	{% endfor %}
	</table>

{% endblock %}
