{% extends "base.html" %}

{% block content %}

<div class="wiki-title" id="title">
	{{ title }}
</div><br>

<table id="history-table">

{% for h in page_history %}
	<tr>
		<td class="column-two">
			{{ h.created.strftime('%Y-%M-%d %H:%M:%S') }}
		</td>
		<td>
			{{h.version}}
		</td>
		<td>
			{{h.content}}
		</td>
		<td>
			<a href="/w/{{h.title}}/?v={{h.version}}">view</a>
		</td> 
		<td>
			<a href="/w/_edit/{{h.title}}?v={{h.version}}">edit</a>
		</td> 
	</tr>
{% endfor %}

</table>

{% endblock %}
